<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="AssetPreProcessorPoolForSourceThemeDeploy">
        <arguments>
            <argument name="preprocessors" xsi:type="array">
                <item name="css" xsi:type="array">
                    <item name="magento_import" xsi:type="array">
<!--                        <item name="after" xsi:type="string">variable_notation</item>-->
                        <item name="class" xsi:type="string">Magento\Framework\Css\PreProcessor\Instruction\MagentoImport</item>
                    </item>
                    <item name="import" xsi:type="array">
                        <item name="after" xsi:type="string">magento_import</item>
                        <item name="class" xsi:type="string">PreProcessorInstructionImportForSourceThemeDeploy</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AssetPreProcessorPool">
        <arguments>
            <argument name="preprocessors" xsi:type="array">
                <item name="css" xsi:type="array">
                    <item name="magento_import" xsi:type="array">
                        <item name="after" xsi:type="string">variable_notation</item>
                        <item name="class" xsi:type="string">Magento\Framework\Css\PreProcessor\Instruction\MagentoImport</item>
                    </item>
                    <item name="import" xsi:type="array">
                        <item name="after" xsi:type="string">magento_import</item>
                        <item name="class" xsi:type="string">\Magento\Framework\Css\PreProcessor\Instruction\Import</item>
                    </item>
                    <item name="css_min" xsi:type="array">
                        <item name="after" xsi:type="string">import</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
